body{
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
}
.back-img{
	background-image:url("dead.png");
	width:100%;
	height: 70vh;
	background-size: cover;
	position: relative;
}
.dp{
	position: absolute;
	bottom: 4px;
	left: 50%;
	transform: translateX(-50%);
	height: 30vh;
	border: 6px solid #7f7c74;
}

.name {
  line-height: 0.10;
  text-align: center;
  padding: 33px;
  color: #ffff;
  font-size:25px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.name span {
  display: inline-block;
  position: relative;  
}
.name span:before,
.name span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 600px;
}	
.name span:before {
  right: 100%;
  margin-right: 15px;
}
.name span:after {
  left: 100%;
  margin-left: 15px;
}

.sub-title{
	margin-top: 0px;
	color:#ffff;
	text-align: center;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.detail{
	text-align: center;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.detail-sub{
	text-align: center;
	font-size: 13px;
	font-family: 'Open Sans',sans-serif;
}

.about{
	
	border-right:1px solid black;
	margin-top: 2%;
	font-family: 'Open Sans',sans-serif;
	text-align: right;
	
}

.about-text{
	margin-left: 70%;
	font-weight: bold;
}
.about-sub{
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;	
}
.abt-sub1{
	font-family: 'Open Sans',sans-serif;
	font-size: 10px;	
	text-align: left;
}
.experience{
    margin-top: 4%;
    font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	text-align: left;
}
.early-life{
	text-align: left;
	font-size: 13px;
	font-family: 'Open Sans',sans-serif;
}
.movie{
	height: 22vh;
   
	margin-bottom: 8px;
	margin-left:20px;
	border: 6px solid #7f7c74;
}
.lang{
	font-family: 'Open Sans',sans-serif;
	
	font-weight: bold;
	margin-top: 10%;
}




